/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.container{
    width: 59.80829015%;
    margin: 0 auto;
}

@media(max-width: 550px){

.container{
        width: 100%
}
    }

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.primary-colors{
    color: #B0904E;
}

.secondary-color{
    color: #333333;
}

.clearfix{
    clear: both;
}

.fixed{
    position: fixed;
}

.p1{
    padding: 1rem 0;
}

.p2{
    padding: 1.5rem 0;
}

.font-prime-color{
        color: #B0904E;
    }

.font-sec-color{
        color: #333333;
    }

.font-light-color{
        font-family: raleway;
        color: #7b7b7b;
    }

.background-light{
        background-color: #fff;
    }

.background-dark{
        background-color: #333333;
    }

.section-header{
    font-size: 3rem;
    color:#333333;
    font-weight: bold;
/*    margin-top: -1rem;*/
    font-family: "Playfair Display",serif;
}

.sub-head{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;
/*    margin-bottom: -3rem;*/
}

hr{
    width: 2.5rem;
    padding: 0.08rem;
/*    margin-top: -1rem;*/
    background-color: #B0904E;
    margin: 2rem auto;
}

p{
    margin: 0;
}

#scrollUp{
    bottom:5px;
    right:10px;
    padding: 0.7rem;
    background-color: #B0904E;
    color:#fff;
    display: none;
    cursor: pointer;
}

#navbar .container .row{
/*            background: #aaa;*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 5.18134715%;
            line-height: 5.1813%;
            font-family: "Cinzel Decorative",open-sans;
        }

@media(max-width: 550px){

#navbar .container .row{
                display:flex;
                width: 98%;
                justify-content: space-between
        }
    }

#navbar .container .row .logo{
                padding:2rem 1rem;
                width:16.66666667%;
            }

#navbar .container .row .logo img{
                    max-width: 100%;
                }

@media(max-width: 550px){

#navbar .container .row .logo{
                    width:30%;
                    padding: 1rem 0.5rem
            }
    }

#navbar .container .row ul{
                margin-right: 10rem;
            }

#navbar .container .row ul li{
                    color: #7b7b7b;
/*                    padding: 1rem 1rem;*/
                    display: inline-block;
                    padding: 3rem 1rem;
                    font-weight: bold;
                    
                }

#navbar .container .row ul li a{
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.9rem;
                    }

#navbar .container .row ul li a .room{
                            word-spacing: -10px;
                        }

@media(max-width: 550px){

#navbar .container .row ul li a{
                            text-align: center;
                            display: block
                    }
    }

#navbar .container .row ul li a:hover{
                        color: #B0904E;
                        cursor: pointer;
                    }

@media(max-width: 550px){

#navbar .container .row ul{
                    display: none
            }
    }

#navbar .container .row .hamburger{
                font-size: 2rem;
                margin-top: 5%;
                cursor: pointer;
            }

#showcase{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

#showcase img{
        max-width: 100%;    
    }

#showcase .overflow{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        /*overlay*/
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

#showcase .overflow .small{
            font-family: raleway;
            font-weight: bold;
            letter-spacing: 8px;
        }

@media(max-width: 550px){

#showcase .overflow .small{
                font-size: 0.7rem
        }
    }

#showcase .overflow .large{
/*            margin-top: -0.7rem;*/
            font-size: 5.5rem;
            font-weight: 600;
            display: inline-block;
        }

@media(max-width: 550px){

#showcase .overflow .large{
                font-size: 1.9rem
        }
    }

#welcome{
    width: 100%;
    padding: 4rem 0;
    box-sizing: border-box;
    background-color: #fff;
}

@media(max-width: 550px){

#welcome{
        padding: 8.5rem 0
}
    }

#welcome .container{
        text-align: center;
    }

#welcome .container .paragraph{
            text-justify: auto;
            line-height: 1.5;
            font-size: 0.8;
            padding: 2rem;
        }

#welcome .row{
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 0;
    }

@media(max-width: 550px){

#welcome .row{
            grid-template-columns: repeat(1,1fr)
    }
    }

#welcome .card{
        position: relative;
    }

#welcome .card .image img{
                height:100%;
                width: 100%;
            }

#welcome .card .overlay{
            font-family: "Cinzel Decorative";
            font-weight: bolder;
            font-size: 2rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

#welcome .card .overlay p{
                margin: 0;
            }

#welcome .card:hover .image{
            overflow: hidden;
        }

#welcome .card:hover .image img{
                transform: scale(1.1);
                transition: all 0.4s;
            }

#room{
    width: 100%;
    padding: 4rem 0;
    box-sizing: border-box;
    background-color: #F9F9F9;
}

#room .container{
        text-align: center;
        font-family: "Cinzel Decorative";
    }

#room .container .cards{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4rem 0.5rem;
            font-family: 'Playfair Display', serif;
        }

@media(max-width: 550px){

#room .container .cards{
                flex-direction: column;
                width: 100%;
                padding: 4rem 0.5;
                box-sizing: border-box
        }
    }

#room .container .cards .card{
                width: 32%;
                text-align: left;
                overflow: hidden;
            }

#room .container .cards .card .breaker{
                    width: 100%;
                    background-color: #f0f0f0;
                    padding: 0.001rem;
                }

@media(max-width: 550px){

#room .container .cards .card .breaker{
                        margin: 0 !important
                }
    }

@media(max-width: 550px){

#room .container .cards .card{
                    width: 100%;
                    padding: 1rem 0
            }
    }

#room .container .cards .card .image{
                    overflow: hidden;
                }

#room .container .cards .card .image img{
                        width: 100%;
                    }

#room .container .cards .card .content{
                    padding: 1rem;
                }

#room .container .cards .card .content .card-title{
                        font-weight: bold;
                        font-size: 1.7rem;
                        color:#333333;
                        border-bottom: 1px solid #f0f0f0;
                    }

#room .container .cards .card .content div{
                        display: flex;
                        justify-content: space-between;
                        font-family: raleway;
                        color: #7b7b7b;
                        align-items: center;
                    }

#room .container .cards .card .content div .rate{
                            display: flex;
                            flex-direction: row;
                            font-family: "Cinzel Decorative";
                            align-items: center;
                            color: #B0904E;
                            font-weight: bold;
                        }

#room .container .cards .card .content div .rate .amount{
                                font-weight: bolder;
                                font-size: 1.5rem;  
                            }

#room .container .cards .card .content div .rate span{
                                font-size: 0.7rem;
                                font-weight: bold;
                            }

#room .container .cards .card:hover .card-title{
                color: #B0904E;
                transition: all 0.4s;
            }

#room .container .cards .card:hover img{
                transform: scale(1.1);
                transition: all 0.4s;
            }

#room .container .cards .card:hover{
                box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
                transition: all 0.4s;
            }

#room .container .circle{
            border-radius: 100%;
            background-color: #B0904E;
            padding: 0.3rem;
            display: inline-block;
        }

#testimonial .container{
        text-align: center;
        padding: 4rem 0;
    }

#testimonial .container ul{
            display: inline-block;
            list-style-type: none;
            cursor: pointer;
        }

#testimonial .container ul li:nth-child(1) .circle{
                    background-color: #B0904E;
                }

#testimonial .container ul li{
                display: inline-block;
                text-align: center;
                padding:0 0.2rem;
            }

#testimonial .container ul li .circle{
                    background-color: #ccc;
                    padding: 0.3rem;
                    border-radius: 100%;
                }

#testimonial .container ul li .circle:hover{
                    background-color: #B0904E;
                }

#gallery{
    width: 100%;
}

#gallery .collection{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }

@media(max-width: 550px){

#gallery .collection{
            grid-template-columns: repeat(2,1fr)
    }
    }

#gallery .collection .images img{
                width: 100%;
            }

#gallery .collection .images_overlay{
                display: none;
            }

#gallery .collection .images_overlay .fonts .large-t{
                        display: block;
                        font-size: 1.8rem;
                    }

#gallery .collection .images_overlay .fonts .small-t{
                        display: block;
                        font-size: 0.9rem;
                    }

#gallery .collection .images:hover .images_overlay{
            display: block;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            font-family: "Playfair Display", serif;
            font-weight: bold;
            background: rgb(0,0,0,0.6);
            transition: all 0.4s;
        }

@media(max-width: 550px){

#gallery .collection .images:hover .images_overlay{
                display: none
        }
    }

#gallery .overlay{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 48%;
        position: absolute;
        left: 50%;
        margin-left: -4.8rem;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
        letter-spacing: 5px;
        background: #fff;
        color: #333333;
    }

#gallery .overlay:hover{
        color: #fff;
        background: #B0904E;
        transition: all 0.4s;
        cursor: pointer;
    }

#address{
    width: 100%;
}

#address .row{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }

@media(max-width: 550px){

#address .row{
            display: flex;
            flex-direction: column
/*             grid-template-columns: repeat(1,1fr);*/
    }
    }

#address .row .map{
            width: 100%;
            grid-column: 1 /4;
        }

#address .row .map .mapouter{
                width: 100%;
            }

#address .row .map .mapouter .gmap_canvas{
                    width: 100%;    
                }

#address .row .location{
            padding: 4rem 0;
/*            grid-column: 2 span/6;*/
            
            text-align: left;
        }

#address .row .location .hrs{
                float: left;
            }

#address .row .location ul{
                list-style-type: none;
            }

#address .row .location .icons{
                text-align: center;
                display: inline-block;
                padding: 0px;    
            }

#address .row .location .icons li{
                    padding: 1.1rem 0;
                    font-size: 3.5rem;
                    color: #B0904E;
                }

#address .row .location .icon-info{
                text-align: left;
                display: inline-block;
                padding: 0px;
                top: 0px;
                left: 5rem;
                font-family: 'Raleway', sans-serif;
            }

#address .row .location .icon-info li{
                    padding: 2rem 0;
                }

#address .row .location .icon-info li .hard{
                        font-weight: bold;
                    }

#footer{
    width:100%;
/*    padding: 4rem;*/
    font-family: 'Raleway', sans-serif;
    background: #333333;
}

#footer .row{
        padding: 6rem 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

@media(max-width: 550px){

#footer .row{
            padding: 6rem 0.1rem;
            grid-template-columns: repeat(1,1fr)
    }
    }

#footer .row .contacts i{
                color:#B0904E;
            }

#footer .row .contacts p{
                display: inline-block;
                padding: 1rem;
                color: #aeaeae;
            }

@media(max-width: 550px){

#footer .row .contacts{
                padding: 2rem 1rem
        }
    }

#footer .full-width{
        width:100%;
        padding: 0.01px;
        background-color: #aeaeae !important;
    }

@media(max-width: 550px){

#footer .full-width{
            width: 92%
    }
    }

#footer .contact-info{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
    }

@media(max-width: 550px){

#footer .contact-info{
            flex-direction: column
    }
    }

#footer .contact-info .design-info{
            text-align: center;
            align-items: center;
        }

#footer .contact-info .design-info p{
                display: inline-block;
                color: #7b7b7b;
            }

#footer .contact-info .design-info p a{
                    color: #B0904E;
                    text-decoration: none;
                }

@media(max-width: 550px){

#footer .contact-info .design-info p{
                    display: flex;
                    justify-content: flex-start
            }
    }

@media(max-width: 550px){

#footer .contact-info .design-info{
                margin-left: 1rem
        }
    }

#footer .contact-info .icons ul{
                list-style-type: none;
            }

#footer .contact-info .icons ul li{
                    cursor: pointer;
                    display: inline-block;
                    color: #4183C4;
                }

#footer .contact-info .icons ul li:hover{
                    color: #23527c;
                }

@media(max-width: 550px){

#footer .contact-info .icons{
                margin-right: 1rem;
                display: flex;
                justify-content: flex-end
        }
    }

#mobile-menu{
    width: 100%;
    background: #fff;
    z-index: 99999;
}

#mobile-menu .menu-container{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

/*        display: none;*/

@media(min-width: 1000px){

#mobile-menu .menu-container{
            display:none
    }
    }

#mobile-menu .menu-container #cross{
            border: 1px solid #ccc;
            display: inline-block;
            padding: 1rem;
            border-radius: 50%;
            cursor: pointer;
            margin: 2rem 0;
        }

#mobile-menu .menu-container .items{
            font-family: "Cinzel Decorative";
            
            width: 100%;
            height: 100vh;
            padding-left: 0;
        }

@media(max-width: 550px){

#mobile-menu .menu-container .items{
                display: block !important
        }
    }

#mobile-menu .menu-container .items li{
                box-sizing: border-box;
                text-align: left;
                display: block;
                padding: 1rem 0;
                font-weight: bold;
                border-top: solid 1px #ddd;

            }

#mobile-menu .menu-container .items li a{
                    color: #7b7b7b;
                    text-align: left;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 0.9rem;
                }

#mobile-menu .menu-container .items li a .room{
                        word-spacing: -10px;
                    }

#mobile-menu .menu-container .items li a:hover{
                    color: #B0904E;
                    cursor: pointer;
                }

#mobile-menu .menu-container .items li:hover a{
                color:#b0914f;
            }

#mobile-menu .menu-container .items li:hover{
                background: #eee;
                cursor: pointer;
            }