.container{
    width: 59.80829015%;
    margin: 0 auto;
    @mixin atSmall{
        width: 100%;
    }
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.primary-colors{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.clearfix{
    clear: both;
}
.fixed{
    position: fixed;
}
.p1{
    padding: 1rem 0;
}
.p2{
    padding: 1.5rem 0;
}
.font{
    &-prime-color{
        color: $primary-color;
    }
    &-sec-color{
        color: $secondary-color;
    }
    &-light-color{
        font-family: raleway;
        color: #7b7b7b;
    }
}
.background{
    &-light{
        background-color: #fff;
    }   
    &-dark{
        background-color: $secondary-color;
    }
}
.section-header{
    font-size: 3rem;
    color:$secondary-color;
    font-weight: bold;
/*    margin-top: -1rem;*/
    font-family: "Playfair Display",serif;
}
.sub-head{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;
/*    margin-bottom: -3rem;*/
}
hr{
    width: 2.5rem;
    padding: 0.08rem;
/*    margin-top: -1rem;*/
    background-color: $primary-color;
    margin: 2rem auto;
}
p{
    margin: 0;
}
#scrollUp{
    bottom:5px;
    right:10px;
    padding: 0.7rem;
    background-color: $primary-color;
    color:#fff;
    display: none;
    cursor: pointer;
}
















