#address{
    width: 100%;
    .row{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        @mixin atSmall{
            display: flex;
            flex-direction: column;
/*             grid-template-columns: repeat(1,1fr);*/
        }
        .map{
            width: 100%;
            grid-column: 1 /4;
            .mapouter{
                width: 100%;
                .gmap_canvas{
                    width: 100%;    
                }
            }
        }
        .location{
            padding: 4rem 0;
/*            grid-column: 2 span/6;*/
            
            text-align: left;
            .hrs{
                float: left;
            }
            ul{
                list-style-type: none;
            }
            .icons{
                text-align: center;
                display: inline-block;
                padding: 0px;
                li{
                    padding: 1.1rem 0;
                    font-size: 3.5rem;
                    color: $primary-color;
                }    
            }
            .icon-info{
                text-align: left;
                display: inline-block;
                padding: 0px;
                top: 0px;
                left: 5rem;
                font-family: 'Raleway', sans-serif;
                li{
                    padding: 2rem 0;
                    .hard{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

































