#footer{
    width:100%;
/*    padding: 4rem;*/
    font-family: 'Raleway', sans-serif;
    background: $secondary-color;
    .row{
        padding: 6rem 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        @mixin atSmall{
            padding: 6rem 0.1rem;
            grid-template-columns: repeat(1,1fr);    
        }
        .contacts{
            i{
                color:$primary-color;
            }
            p{
                display: inline-block;
                padding: 1rem;
                color: #aeaeae;
            }
            @mixin atSmall{
                padding: 2rem 1rem;
            }
        }
    }
    .full-width{
        width:100%;
        padding: 0.01px;
        background-color: #aeaeae !important;
        @mixin atSmall{
            width: 92%;
        }
    }
    .contact-info{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        @mixin atSmall{
            flex-direction: column;
        }
        .design-info{
            text-align: center;
            align-items: center;
            p{
                display: inline-block;
                color: #7b7b7b;
                a{
                    color: $primary-color;
                    text-decoration: none;
                }
                @mixin atSmall{
                    display: flex;
                    justify-content: flex-start;
                }
            }
            @mixin atSmall{
                margin-left: 1rem;
            }
        }
        .icons{
            ul{
                list-style-type: none;
                li{
                    cursor: pointer;
                    display: inline-block;
                    color: #4183C4;
                }
                li:hover{
                    color: #23527c;
                }
            }
            @mixin atSmall{
                margin-right: 1rem;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}