#gallery{
    width: 100%;
    .collection{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        @mixin atSmall{
            grid-template-columns: repeat(2,1fr);
        }
        .images{
            img{
                width: 100%;
            }
            &_overlay{
                display: none;
                .fonts{
                    .large-t{
                        display: block;
                        font-size: 1.8rem;
                    }
                    .small-t{
                        display: block;
                        font-size: 0.9rem;
                    }
                }
            }        
        }
        .images:hover .images_overlay{
            display: block;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            font-family: "Playfair Display", serif;
            font-weight: bold;
            background: rgb(0,0,0,0.6);
            transition: all 0.4s;
            @mixin atSmall{
                display: none;
            }
        }
    }
    .overlay{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 48%;
        position: absolute;
        left: 50%;
        margin-left: -4.8rem;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
        letter-spacing: 5px;
        background: #fff;
        color: $secondary-color;
    }
    .overlay:hover{
        color: #fff;
        background: $primary-color;
        transition: all 0.4s;
        cursor: pointer;
    }
}




























