#mobile-menu{
    width: 100%;
    background: #fff;
    z-index: 99999;
    .menu-container{
        width: 90%;
        margin: 0 auto;
        text-align: center;
/*        display: none;*/
        @mixin atLarge{
            display:none;
        }
        #cross{
            border: 1px solid #ccc;
            display: inline-block;
            padding: 1rem;
            border-radius: 50%;
            cursor: pointer;
            margin: 2rem 0;
        }
        .items{
            font-family: "Cinzel Decorative";
            @mixin atSmall{
                display: block !important;
            }
            
            width: 100%;
            height: 100vh;
            padding-left: 0;
            li{
                box-sizing: border-box;
                text-align: left;
                display: block;
                padding: 1rem 0;
                font-weight: bold;
                border-top: solid 1px #ddd;
                a{
                    color: #7b7b7b;
                    text-align: left;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 0.9rem;
                    .room{
                        word-spacing: -10px;
                    }
                }
                a:hover{
                    color: $primary-color;
                    cursor: pointer;
                }

            }
            li:hover a{
                color:#b0914f;
            }
            li:hover{
                background: #eee;
                cursor: pointer;
            }
        }
    }
}