#room{
    width: 100%;
    padding: 4rem 0;
    box-sizing: border-box;
    background-color: #F9F9F9;
    .container{
        text-align: center;
        font-family: "Cinzel Decorative";
        .cards{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4rem 0.5rem;
            font-family: 'Playfair Display', serif;
            @mixin atSmall{
                flex-direction: column;
                width: 100%;
                padding: 4rem 0.5;
                box-sizing: border-box;
            }
            .card{
                .breaker{
                    width: 100%;
                    background-color: #f0f0f0;
                    padding: 0.001rem;
                    @mixin atSmall{
                        margin: 0 !important;
                    }
                }
                width: 32%;
                text-align: left;
                overflow: hidden;
                @mixin atSmall{
                    width: 100%;
                    padding: 1rem 0;
                }
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .content{
                    padding: 1rem;
                    .card-title{
                        font-weight: bold;
                        font-size: 1.7rem;
                        color:$secondary-color;
                        border-bottom: 1px solid #f0f0f0;
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        font-family: raleway;
                        color: #7b7b7b;
                        align-items: center;
                        .rate{
                            display: flex;
                            flex-direction: row;
                            font-family: "Cinzel Decorative";
                            align-items: center;
                            color: $primary-color;
                            font-weight: bold;
                            .amount{
                                font-weight: bolder;
                                font-size: 1.5rem;  
                            }
                            span{
                                font-size: 0.7rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .card:hover .card-title{
                color: $primary-color;
                transition: all 0.4s;
            }
            .card:hover img{
                transform: scale(1.1);
                transition: all 0.4s;
            }
            .card:hover{
                box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
                transition: all 0.4s;
            }
        }
        .circle{
            border-radius: 100%;
            background-color: $primary-color;
            padding: 0.3rem;
            display: inline-block;
        }
    }
}