#showcase{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    img{
        max-width: 100%;    
    }
    .overflow{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        /*overlay*/
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        .small{
            font-family: raleway;
            font-weight: bold;
            letter-spacing: 8px;
            @mixin atSmall{
                font-size: 0.7rem;
            }
        }
        .large{
/*            margin-top: -0.7rem;*/
            font-size: 5.5rem;
            font-weight: 600;
            display: inline-block;
            @mixin atSmall{
                font-size: 1.9rem;
            }
        }
    }
}






























