#testimonial{
    .container{
        text-align: center;
        padding: 4rem 0;
        ul{
            display: inline-block;
            list-style-type: none;
            cursor: pointer;
            li:nth-child(1){
                .circle{
                    background-color: $primary-color;
                }
            }
            li{
                display: inline-block;
                text-align: center;
                padding:0 0.2rem;
                
               .circle{
                    background-color: #ccc;
                    padding: 0.3rem;
                    border-radius: 100%;
                }
                .circle:hover{
                    background-color: $primary-color;
                }
            }
        }
    }
}