#welcome{
    width: 100%;
    padding: 4rem 0;
    box-sizing: border-box;
    @mixin atSmall{
        padding: 8.5rem 0;
    }
    background-color: #fff;
    .container{
        text-align: center;
        .paragraph{
            text-justify: auto;
            line-height: 1.5;
            font-size: 0.8;
            padding: 2rem;
        }
    }
    .row{
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 0;
        @mixin atSmall{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .card{
        position: relative;
        .image{
            img{
                height:100%;
                width: 100%;
            }
        }
        .overlay{
            font-family: "Cinzel Decorative";
            font-weight: bolder;
            font-size: 2rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            p{
                margin: 0;
            }
        }
    }
    .card:hover{
        .image{
            overflow: hidden;
            img{
                transform: scale(1.1);
                transition: all 0.4s;
            }
        }
    }
}