#navbar{
    .container{
        .row{
/*            background: #aaa;*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 5.18134715%;
            line-height: 5.1813%;
            font-family: "Cinzel Decorative",open-sans;
            
            @mixin atSmall{
                display:flex;
                width: 98%;
                justify-content: space-between;
            }
            .logo{
                padding:2rem 1rem;
                width:16.66666667%;
                img{
                    max-width: 100%;
                }
                @mixin atSmall{
                    width:30%;
                    padding: 1rem 0.5rem;
                }
            }
            ul{
                margin-right: 10rem;
                li{
                    color: #7b7b7b;
/*                    padding: 1rem 1rem;*/
                    display: inline-block;
                    padding: 3rem 1rem;
                    font-weight: bold;
                    a{
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.9rem;
                        .room{
                            word-spacing: -10px;
                        }
                        @mixin atSmall{
                            text-align: center;
                            display: block;
                        }
                    }
                    a:hover{
                        color: $primary-color;
                        cursor: pointer;
                    }
                    
                }
                @mixin atSmall{
                    display: none;
                }
            }
            .hamburger{
                font-size: 2rem;
                margin-top: 5%;
                cursor: pointer;
            }
        }
    }
}